.page_title {
  margin-top: 1em;
  font-size: 3em;
}

.container {
  display: flex;
  margin-left: 150px;
  flex-direction: column;
}

.bar-chart {
  border-radius: 4px;
  border: solid 1px #d8dde6;
  background-color: #fff;
  border-radius: 4px;
  padding: 1em;
  width: 437px;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
  }
  > canvas {
    max-height: 300px;
    max-width: 410px;
  }
  &-title {
    color: #035a27;
  }

  &-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.line-chart {
  border-radius: 4px;
  border: solid 1px #d8dde6;
  background-color: #fff;
  border-radius: 4px;
  padding: 1em;
  width: 869px;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
  }
  > canvas {
    max-height: 300px;
    max-width: 798px;
  }
  &-title {
    color: #035a27;
    font-weight: 600;
  }

  &-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
}

