@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(../src/assets/webfonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(../src/assets/webfonts/OpenSans-SemiBold.ttf);
}

body {
  font-family: "Open Sans";
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}
